@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans';
}
.wrapper{
    /* width: 100%; */
    max-width: 944px;   /* 1024*/
    margin-left:auto;
    margin-right:auto;
    float: none;
    box-sizing:border-box;
}
.hero_section{
    background-image: url(../img/syslink-pricing-hero-desktopsmall.png);
    background-repeat: no-repeat;
    width: auto;
    height: 1002px;
    object-fit: contain;
    background-size: cover;
}
.sys-xandria-logo {
    width: 210px;
    height: 48px;
    object-fit: contain;
}
.hero_content{
    display: flex;
    justify-content: space-between;
}
.side_one{
    color: white;
    max-width:461px;
}
.side_one .class_ul{
    list-style: none;
}
h1 {
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #ffffff;
  }
.side_two{
    width: 461px;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 15px;
}
.side_two_wrapper{
    max-width: 365px;
    margin: 0 auto;
}
h2 {
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3a539c;
    margin-top: 40px;
  }
  form{
      margin: 40px 0;
  }
  form :nth-child(1){
    max-width: 170px;
    width: 100%;
    padding: 10px 20px 9px 4px;
    margin: 8px 0px 20px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  form :nth-child(2){
    max-width: 170px;
    width: 100%;
    padding: 10px 20px 9px 4px;
    margin: 8px 0px 20px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=email]{
    max-width: 365px;
    width: 100%;
    padding: 10px 20px 10px 4px;
    margin: 24px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  form :nth-child(4){
    max-width: 365px;
    width: 100%;
    padding: 10px 20px 10px 4px;
    margin: 24px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  form :nth-child(5){
    max-width: 365px;
    width: 100%;
    padding: 10px 20px 10px 4px;
    margin: 24px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  form .by-submitting-this-f {
    max-width: 365px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #505050;
  }
  button {
    border-radius: 4px;
    background-image: linear-gradient(to right, #ff8a46 0%, #db4113 100%);
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 23px 77px;
    display: block;
    margin: 24px auto;
  }